<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083494702041-ag3vqc5hvvvfap7ojq5n1k4pi2goe8gu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083494702041-ag3vqc5hvvvfap7ojq5n1k4pi2goe8gu</string>
	<key>API_KEY</key>
	<string>AIzaSyDWonle48teHgh2mril1Ew-QV5wHvTRAbs</string>
	<key>GCM_SENDER_ID</key>
	<string>1083494702041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iqfareez.appChat</string>
	<key>PROJECT_ID</key>
	<string>fl-chatgpt</string>
	<key>STORAGE_BUCKET</key>
	<string>fl-chatgpt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083494702041:ios:6750f638a8f501ac57d7c8</string>
</dict>
</plist>